@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Inter", system-ui, sans-serif;
      font-size: 20px; /* Establece un tamaño de fuente base */  
    }
}


.nav-link{
  font-size: 0.9rem;
  font-weight: bold;
}
  